<h3 id="portfolio" class="yc-section-title">PORTFOLIO</h3>

<section class="yc-portfolio__projects">
  <ng-container *ngFor="let project of projects">
    <a
      *ngIf="project.external else internalLink"
      [href]="project.link"
      class="yc-portfolio__project yc-portfolio__project-{{project.id}}">
    </a>
    <ng-template #internalLink>
      <a
        (click)="onProject(project)"
        class="yc-portfolio__project yc-portfolio__project-{{project.id}}">
      </a>
    </ng-template>
  </ng-container>
</section>