<!-- Soical media links -->
<div class="yc-footer__social">
  <a href="https://www.linkedin.com/in/yc-shawn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/shawnloatrchen" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/shawnloatr/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UCQLEPbkEmwz4mABAV-kzQTQ" target="_blank"><i class="fab fa-youtube-square" aria-hidden="true"></i></a>
  <a href="https://github.com/yc-shawn" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
</div>

<!-- Contacts -->
<p class="yc-footer__contact">ychshawn@gmail.com</p>
<p class="yc-footer__contact">Sunnyvale, CA</p>
<p class="yc-footer__copyright">&copy; 2017-2021 Yuxiang Chen all rights reserved.</p>
