body {
  margin: 0;
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }

header {
  height: 800px;
  background: url(../image/Boston-myback-dark.jpg) center center;
  background-size: cover;
  position: relative; }

header .logo {
  width: 100px;
  height: 60px;
  background: url(../image/mylogo.png);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 30px; }

header nav {
  float: right;
  padding: 30px 30px 0 0; }
  header nav a {
    display: inline-block;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; }
    header nav a:hover {
      color: rgba(255, 255, 255, 0.65); }

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-top: 200px;
  clear: both; }
  h1 span {
    color: white;
    display: inline-block;
    padding: 0.5em 0.2em;
    border: white solid 10px; }

@media screen and (max-width: 650px) {
  header {
    height: 480px; }
  h1 {
    font-size: 32px;
    padding-top: 100px; }
  h1 span {
    border: white solid 5px; }
  header nav a {
    font-size: 12px; } }

.kicker {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1; }

h3 {
  text-align: center;
  color: #e1c184;
  padding: 100px 0 30px 0;
  margin: 10px auto; }

.face-lockup {
  max-width: 780px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .face-lockup .face-img {
    width: 200px;
    height: 200px;
    background: url(../image/MyPortrait_circle.png);
    background-size: cover;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

.icon1, .icon2, .icon3, .icon4 {
  width: 60px;
  height: 60px;
  background: #999;
  border-radius: 50%; }

.icon1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.icon2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2; }

.icon3 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4; }

.icon4 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5; }

.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  font-size: 20px;
  text-align: center;
  font-weight: 300; }

@media screen and (max-width: 650px) {
  .face-lockup {
    display: block;
    text-align: center; }
    .face-lockup div {
      display: inline-block; }
    .face-lockup .face-img {
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 30px auto; }
  .icon1, .icon2, .icon3, .icon4 {
    margin: 5px; } }

.skill-lockup {
  max-width: 700px;
  margin: 100px auto;
  color: #999;
  overflow: auto; }

.skill-unit {
  width: 23%;
  padding-left: 10%;
  float: left; }

.skill-icon {
  margin: 2px 0 30px; }
  .skill-icon span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: black;
    margin-right: 5px;
    border-radius: 50%; }
    .skill-icon span:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin: 2px; }

.skill-4 span:nth-child(n+5) {
  background-color: lightgrey; }

.skill-3 span:nth-child(n+4) {
  background-color: lightgrey; }

.skill-2 span:nth-child(n+3) {
  background-color: lightgrey; }

@media screen and (max-width: 541px) {
  .skill-lockup {
    margin-left: 25px; }
  .skill-unit {
    width: 45%;
    padding-left: 5%; } }

.alt-section {
  background-color: rgba(250, 250, 250, 0.9); }

.section-work {
  overflow: hidden; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  transition: left 0.33s; }

.ros-img {
  background-image: url(../image/ROS_tutorial_cover.png); }

.reco-img {
  background-image: url(../image/Multimodal_Recording.jpeg); }

.signature-img {
  background-image: url(../image/SignatureSignIn.png_thumb.jpg); }

.iosapp-img {
  background-image: url(../image/iosapp.png); }

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left; }

.thumb-container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: auto; }

.thumb-unit {
  display: block;
  width: 48%;
  margin: 1%;
  /*height: 270px;*/
  float: left;
  position: relative;
  padding-top: 27%;
  overflow: hidden;
  /*border-radius: 5px;*/
  background-position: center center;
  background-size: cover;
  box-shadow: 2px 2px 8px 0 black;
  -webkit-perspective: 300px;
  perspective: 300px;
  cursor: pointer; }
  .thumb-unit:hover .thumb-overlay {
    top: 0%;
    background: darkgrey;
    opacity: 0.9;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  @media screen and (max-width: 540px) {
    .thumb-unit {
      width: 98%;
      padding-top: 56.25%; } }

.thumb-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  opacity: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  transition: top 0.33s, -webkit-transform 0.33s;
  transition: transform 0.33s, top 0.33s;
  transition: transform 0.33s, top 0.33s, -webkit-transform 0.33s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom; }
  .thumb-overlay strong {
    display: block;
    padding: 20px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2; }

.work-container {
  max-width: 640px;
  margin: 0 auto;
  display: none; }
  .work-container img {
    max-width: 100%;
    margin-bottom: 20px; }
  .work-container .project-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 20px; }

.work-return {
  /*background: url(../image/nav-icon.png);*/
  background: url(../image/return-icon2.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 35px;
  left: -60px; }

@media screen and (max-width: 740px) {
  .work-return {
    left: 0; }
  .work-container {
    margin: 0 10px; }
  .work-container .project-title {
    margin-left: 50px; } }

.video-box {
  position: relative;
  padding-bottom: 45%;
  /* 9/16 */
  padding-top: 0px;
  height: 0;
  margin: 20px auto;
  width: 80%; }
  .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

img {
  width: 100%; }

.section-comment {
  position: relative; }

.control {
  z-index: 1;
  position: absolute;
  top: 202px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1000px;
  margin: auto; }
  .control div {
    width: 30px;
    opacity: 0.4; }
  .control .control-pre, .control .control-next {
    position: absolute;
    top: 90px;
    cursor: pointer; }
    .control .control-pre:hover, .control .control-next:hover {
      opacity: 0.8; }
  .control .control-pre {
    left: 10px; }
  .control .control-next {
    right: 10px; }

.comment-belt {
  width: 100%;
  position: relative; }
  .comment-belt .comment-unit {
    display: none;
    position: relative;
    max-width: 740px;
    margin: 50px auto; }
    .comment-belt .comment-unit.active-people {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .comment-belt .comment-unit .comment-info {
      min-width: 280px;
      text-align: center; }
      .comment-belt .comment-unit .comment-info img {
        max-width: 128px;
        border-radius: 50%; }
      .comment-belt .comment-unit .comment-info .comment-name {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400; }
      .comment-belt .comment-unit .comment-info .comment-title {
        color: #999; }
    .comment-belt .comment-unit .comment-content {
      position: relative;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px; }
      .comment-belt .comment-unit .comment-content .quote {
        position: absolute;
        top: 0;
        left: -30px;
        width: 60px;
        height: 60px;
        z-index: -1;
        opacity: 0.3;
        background-image: url(../image/quote.jpg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat; }

.comment-logo {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 740px;
  margin: 0 auto 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .comment-logo .single-logo {
    min-width: 100px;
    cursor: pointer;
    margin: 20px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    opacity: 0.6; }
    .comment-logo .single-logo.active-logo {
      border-bottom: 4px solid grey;
      opacity: 1; }

.comment-mobile-nav {
  text-align: center; }
  .comment-mobile-nav span {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px lightgrey;
    margin: 0 10px; }
    .comment-mobile-nav span:hover {
      border-color: darkgrey; }
    .comment-mobile-nav span.active-logo {
      border-color: black; }

@media screen and (max-width: 840px) {
  .control div {
    width: 20px; }
  .comment-belt .comment-unit {
    position: relative;
    left: auto; }
    .comment-belt .comment-unit.active-people {
      display: block; }
    .comment-belt .comment-unit .comment-info {
      margin-bottom: 20px; }
    .comment-belt .comment-unit .comment-content {
      margin: 0px 15%; }
      .comment-belt .comment-unit .comment-content .quote {
        top: -30px; }
  .comment-logo {
    display: none; } }

.section-contact {
  padding-bottom: 30px; }

.social-link {
  max-width: 400px;
  margin: 0px auto;
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .social-link a {
    display: block;
    text-align: center;
    line-height: 50px;
    height: 45px; }
    .social-link a:hover {
      -webkit-transform: scale(1.75);
      -ms-transform: scale(1.75);
      transform: scale(1.75); }
    .social-link a img {
      width: 45px;
      height: 45px; }

.contact-info {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px; }
  @media screen and (max-width: 420px) {
    .contact-info {
      font-size: 16px; } }

form {
  max-width: 450px;
  margin: 50px auto 50px;
  padding: 0 10px; }
  form input, form textarea {
    border: 3px solid lightgrey;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 7.5px;
    font-size: 14px; }
    form input:focus, form textarea:focus {
      outline: none;
      border-color: darkgrey; }
  form textarea {
    height: 10em;
    font-family: inherit;
    font-size: inherit; }
  form .submit-warp {
    text-align: right; }
    form .submit-warp .submit {
      width: 33%;
      border-color: #646464;
      background-color: #646464;
      cursor: pointer;
      color: white;
      font-size: 18px;
      text-transform: uppercase; }
  form .contact-info-group {
    width: 100%; }
    form .contact-info-group label {
      width: 50%;
      float: left;
      box-sizing: border-box; }
      form .contact-info-group label:nth-child(1) {
        padding-right: 10px; }
      form .contact-info-group label:nth-child(2) {
        padding-left: 10px; }
  form label {
    display: block;
    margin-bottom: 20px; }
    form label span {
      display: block; }

footer {
  background: url(../image/Boston-myback.jpg) center center;
  background-size: cover; }

footer .lockup {
  clear: both;
  padding: 30px 30px 80px; }
  @media screen and (max-width: 640px) {
    footer .lockup {
      height: 100px; } }

footer .logo {
  width: 80px;
  height: 50px;
  /*padding-top: 20px;*/
  background: url(../image/mylogo.png);
  background-position: center center;
  background-size: cover;
  float: left;
  margin-right: 30px; }

footer .content-warp {
  float: left; }
  footer .content-warp .copyright {
    margin: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75); }
  footer .content-warp a {
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    margin: 0 30px 20px 0; }
    footer .content-warp a:hover {
      color: rgba(255, 255, 255, 0.65); }
