footer {
  background: url(../image/Boston-myback.jpg) center center;
  background-size: cover; }

footer .lockup {
  clear: both;
  padding: 30px 30px 80px; }

footer .logo {
  width: 80px;
  height: 50px;
  /*padding-top: 20px;*/
  background: url(../image/mylogo.png);
  background-position: center center;
  background-size: cover;
  float: left;
  margin-right: 30px; }

footer .content-warp {
  float: left; }

footer .content-warp .copyright {
  margin: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75); }

footer .content-warp a {
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  margin: 0 30px 20px 0; }

footer .content-warp a:hover {
  color: rgba(255, 255, 255, 0.65); }

@media screen and (max-width: 640px) {
  footer .lockup {
    height: 100px; } }
