header {
  height: 800px;
  background: url(../image/Boston-myback-dark.jpg) center center;
  background-size: cover; }

header .logo {
  width: 100px;
  height: 60px;
  background: url(../image/mylogo.png);
  background-position: center center;
  background-size: cover;
  float: left;
  margin: 10px 0 0 30px; }

header nav {
  float: right;
  margin: 30px 30px 0 0; }

header nav a {
  display: inline-block;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; }

header nav a:hover {
  color: rgba(255, 255, 255, 0.65); }

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-top: 200px;
  clear: both; }

h1 span {
  display: inline-block;
  padding: 0.5em 0.2em;
  border: white solid 10px; }

@media screen and (max-width: 650px) {
  header {
    height: 480px; }
  h1 {
    font-size: 32px;
    padding-top: 100px; }
  h1 span {
    border: white solid 5px; }
  header nav a {
    font-size: 12px; } }

.kicker {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1; }
