<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="yuxiang, chen, shawn, buffalo, developer, frontend, software, engineer, lilitofu, plateiq, plate, iq, front, end, react, anglar, node">
    <meta name="author" content="Yuxiang Chen">
    <meta name="description" content="Yuxiang Chen's Personal Website">
    <link href="/v1-assets/image/favicon.ico" rel="icon" type="image/vnd.microsoft.icon">
    <title>Yuxiang Chen's personal website</title>

    <!-- style sheet -->
    <link rel="stylesheet" href="/v1-assets/libs/bootstrap.4.0.0.beta.3.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/v1-assets/libs/angular-material.1.6.5.min.css">

    <!-- Angular Library -->
    <script src="/v1-assets/libs/angular.1.6.5.min.js"></script>
    <script src="/v1-assets/libs/angular-animate.1.6.5.min.js"></script>
    <script src="/v1-assets/libs/angular-aria.1.6.5.min.js"></script>
    <script src="/v1-assets/libs/angular-messages.1.6.5.min.js"></script>
    <script src="/v1-assets/libs/angular-material.1.1.0.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/v1/app.css">
  </head>
  <body ng-app="homepage" ng-controller="homeCtrl">

    <!-- inject:templates/header.html --><header>
  <div class="toggle" ng-click="toggleSideMenu()"></div>
  <div class="logo"></div>
  <nav>
    <a href="#about_me" ng-click="toggleSideMenu()">ABOUT ME</a>
    <a href="#work" ng-click="toggleSideMenu()">PORTFOLIO</a>
    <a href="#comment" ng-click="toggleSideMenu()">COMMENT</a>
    <a href="#contact" ng-click="toggleSideMenu()">CONTACT</a>
  </nav>
  <div class="nameTag">
    <h1><span>YUXIANG CHEN</span></h1>
    <p class="kicker">SOFTWARE / FRONTEND / ENGINEER</p>
  </div>

  <a class="back-to-top"></a>

</header>
<!-- endinject -->

    <!-- inject:templates/aboutme.html --><section>
  <h3 id="about_me" class="index-section-title">ABOUT ME</h3>
  <div class="face-lockup">
    <img src="/v1-assets/image/my-portrait-2.jpg" class="face-img" alt="">
    <div class="icon icon1"><i class="fa fa-code" aria-hidden="true"></i></div>
    <div class="icon icon2"><i class="fa fa-camera-retro" aria-hidden="true"></i></div>
    <div class="icon icon3"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
    <div class="icon icon4"><i class="fa fa-pencil" aria-hidden="true"></i></div>
  </div>

  <div class="blurb">
    <p>Hi, I'm <b>Yuxiang Chen</b>, people also call me <b>Shawn</b>,
      I'm a 
      <b>Software Engineer(Front-end) at 
        <a href="https://www.linkedin.com" target="_blank">
          Linked<i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </b>
    </p>
    <p>I'm strong in design and integration problem-solving. Expert in <strong>Java, Javascript/Typescript, NodeJS, ReactJS, AngularJS/Angular</strong>.
  	Skilled in <strong>Front-end Developing</strong>.
  	Highly adaptable in quickly changing technical environments with very strong organizational and analytical skills.</p>
  </div>

  <!-- Skill-lockup -->
  <div class="skill-lockup">
    <div class="skill-unit" ng-repeat="skill in skills">
      <div class="skill-label">{{ skill }}</div>
      <div class="{{'skill-icon skill-' + levels[skill] }}">
        <span ng-repeat="n in [1,2,3,4,5]"></span>
      </div>
    </div>
  </div>

  <!-- Resume -->
  <div class="resume-lockup">
    <a href="v1-assets/documents/Yuxiang_Chen_Resume_June_2018.pdf" target="_blank">SEE MY RESUME</a>
  </div>

  <!-- Photos -->
  <h3 class="I-m-also"><b>I</b>'m also a</h3>
  <div class="row my-gallery">
    <div class="col-md-4">
      <img src="v1-assets/image/my-golden-gate-bridge.jpg" alt="my-golden-gate-bridge">
      <div class="gallery-text">
        <span>Traveller & Photographer</span>
      </div>
    </div>
    <div class="col-md-4">
      <img src="v1-assets/image/suzy.jpg" alt="suzy">
      <div class="gallery-text">
        <span>Pets Lover</span>
      </div>
    </div>
    <div class="col-md-4">
      <img src="v1-assets/image/my-creative.jpg" alt="creative photo">
      <div class="gallery-text">
        <span>Funny Person</span>
      </div>
    </div>
  </div>
</section>
<!-- endinject -->
    <!-- inject:templates/works.html --><section class="alt-section section-work">
  <h3 id="work" class="index-section-title">PORTFOLIO</h3>
  <div class="work-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">
        <a
          ng-repeat="proj in projects"
          ng-href="{{ proj.url }}"
          class="{{ 'thumb-unit ' + proj.img }}"
          ng-click="chooseProj($index)">
          <div class="thumb-overlay">
            <strong>{{ proj.title }}</strong>
          </div>
        </a>
      </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return"></div>
        <h4 class="project-title">{{ projects[curProjIndex].title }}</h4>
        <div class="project-load">
          <div ng-include="'/src/templates/work/plateiq.html'" ng-show="curProjIndex === 0"></div>
          <div ng-include="'/src/templates/work/lilitofu.html'" ng-show="curProjIndex === 1"></div>
          <div ng-include="'/src/templates/work/youtube-channel.html'" ng-show="curProjIndex === 6"></div>
          <div ng-include="'/src/templates/work/HILS-lab.html'" ng-show="curProjIndex === 7"></div>
          <div ng-include="'/src/templates/work/local-life-ios.html'" ng-show="curProjIndex === 8"></div>
          <div ng-include="'/src/templates/work/signature-sign-in-system.html'" ng-show="curProjIndex === 9"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- endinject -->
    <!-- inject:templates/comment.html --><section class="section-comment">
  <div id="comment-carousel" class="carousel slide" data-ride="carousel">
    <h3 id="comment" class="index-section-title">COMMENT</h3>
    <ol class="carousel-indicators">
      <li data-target="#comment-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#comment-carousel" data-slide-to="1"></li>
      <li data-target="#comment-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/v1-assets/image/peter_avatar.jpg" alt="avatar">
            <strong class="comment-name">Peter Fioretti</strong>
            <div class="comment-title">Founder, Synchronyze Inc.</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>I met Shawn in my first trip to Silicon Valley. He immediatly impressed me for his hard work and dedication. When he talks you can hear passion flowing through your ears, not just words.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/v1-assets/image/geok_avatar.jpg" alt="avatar">
            <strong class="comment-name">Geok Hui Koh</strong>
            <div class="comment-title">CEO, Lilitofu</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>Shawn is a strong team player and often going above and beyond to help his peers even if the issues are outside his immediate scope of responsibilities. He’s led team on-boarding session for new interns, curated good learning resources to share, and is quick to step up and guide other teams through roadblocks.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/v1-assets/image/yiminghu_avatar.jpg" alt="avatar">
            <strong class="comment-name">Yiming Hu</strong>
            <div class="comment-title">Product Manager, Meituan.</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>Shawn is one of the few people that I've ever met with strong self-learning ability and solid programming technics. I believe he could create greater value to his organization.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#comment-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#comment-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- endinject -->
    <!-- inject:templates/contact.html --><section id="contact" class="alt-section section-contact">
  <md-card class="contact-form">
    <md-card-header>
      <!-- <md-card-avatar>
        <img src="img/logo.svg"/>
      </md-card-avatar> -->
      <md-card-header-text>
        <span class="md-title">Contact</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-input-container class="md-block form-input" flex-gt-sm>
        <label>Your name</label>
        <input ng-model="contact.name">
      </md-input-container>

      <md-input-container class="md-block form-input" flex-gt-sm>
        <label>Email</label>
        <input ng-model="contact._replyto" type="email">
      </md-input-container>

      <md-input-container class="md-block form-input">
        <label>Your message</label>
        <textarea ng-model="contact.message" md-maxlength="150" rows="4" md-select-on-focus md-no-autogrow></textarea>
      </md-input-container>
    </md-card-content>

    <md-button class="md-primary md-raised" ng-click="submitForm()">Submit</md-button>
  </md-card>
</section>
<!-- endinject -->

    <!-- inject:templates/footer.html --><footer>
  <div class="logo"></div>
  <div class="social-link">
    <a href="https://www.linkedin.com/in/yc-shawn" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/shawnloatrchen" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/shawnloatr/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCQLEPbkEmwz4mABAV-kzQTQ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
    <a href="https://github.com/yc-shawn" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <p class="contact-info">ychshawn@gmail.com</p>
  <p class="contact-info">Sunnyvale, CA</p>
  <p class="copyright text-center">&copy; 2018 yuxiang chen all rights reserved.</p>
</footer>
<!-- endinject -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129426367-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129426367-1');
    </script>

    <!-- Scripts -->
    <script src="/v1-assets/libs/jquery.3.1.1.min.js"></script>
    <script src="/v1-assets/libs/popper.1.12.9.min.js"></script>
    <script src="/v1-assets/libs/bootstrap.4.0.0.beta.3.min.js"></script>
    <script src="/v1-assets/libs/scrollreveal.3.3.6.min.js"></script>
    <script src="/v1/app.js"></script>
  </body>
</html>
