:host {
  display: block;
  background-image: url("/assets/images/shawn_sit_at_stairs_16_8.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 0;
  padding-top: 50%;
  position: relative;
  @media screen and (max-width: 992px) {
    height: auto;
    padding: 20px 0;
  }

  .yc-contact__form {
    width: 30%;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    padding: 15px;
    margin: 0;
    .yc-contact__form-content,
    .yc-contact__form-actions {
      margin: 0 16px;
    }
    .yc-contact__form-field,
    .yc-contact__form-submit {
      width: 100%;
    }
    .yc-contact__form-sent {
      padding: 10px;
      color: #00b894;
      display: flex;
      align-items: center;
      justify-content: center;
      svg + span {
        margin-left: 10px;
      }
    }
    @media screen and (max-width: 992px) {
      position: static;
      transform: none;
      width: 45%;
      margin: 0 20px 0 auto;
      opacity: 0.9;
    }
    @media screen and (max-width: 768px) {
      opacity: 0.9;
      width: auto;
      margin: 0 20px;
    }
  }
}
