<mat-card class="yc-contact__form">
  <mat-card-header>
    <mat-card-title>Contact</mat-card-title>
  </mat-card-header>
  <mat-card-content class="yc-contact__form-content">
    <!-- Name -->
    <mat-form-field appearance="standard" class="yc-contact__form-field">
      <mat-label>Your name</mat-label>
      <input matInput [(ngModel)]="contact.name" [disabled]="messageSent">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="standard" class="yc-contact__form-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="contact._replyto" [disabled]="messageSent">
    </mat-form-field>

    <!-- Message -->
    <mat-form-field appearance="standard" class="yc-contact__form-field">
      <mat-label>Message</mat-label>
      <textarea matInput rows="4" [(ngModel)]="contact.message" [disabled]="messageSent"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="yc-contact__form-actions">
    <div *ngIf="messageSent; else formSubmitBtn" class="yc-contact__form-sent">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <span>Message sent!</span>
    </div>
    <ng-template #formSubmitBtn>
      <button mat-raised-button color="primary" class="yc-contact__form-submit" (click)="onSubmit()">Submit</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
