<section class="section-comment">
  <h3 id="comment" class="index-section-title">COMMENT</h3>

  <div class="comment-mobile-nav">
    <!-- <span></span> <span></span> <span></span> <span></span> -->
  </div>

  <div class="control">
    <div class="control-pre"><img src="/assets/image/control-pre.png" alt="control-pre"></div>
    <div class="control-next"><img src="/assets/image/control-next.png" alt="control-next"></div>
  </div>

  <div class="comment-belt">
    <!-- Comment 1 -->
    <div class="comment-unit">
      <div class="comment-info">
        <img src="/assets/image/peter_avatar.jpg" alt="avatar">
        <strong class="comment-name">Peter Fioretti</strong>
        <div class="comment-title">Founder, Synchronyze Inc.</div>
      </div>
      <div class="comment-content">
        <div class="quote"></div>
        <p>I met Shawn in my first trip to Silicon Valley. He immediatly impressed me for his hard work and dedication. When he talks you can hear passion flowing through your ears, not just words.</p>
      </div>
    </div>

    <!-- Comment 2 -->
    <div class="comment-unit">
      <div class="comment-info">
        <img src="/assets/image/geok_avatar.jpg" alt="avatar">
        <strong class="comment-name">Geok Hui Koh</strong>
        <div class="comment-title">Founder, Lilitofu</div>
      </div>
      <div class="comment-content">
        <div class="quote"></div>
        <p>Shawn is a strong team player and often going above and beyond to help his peers even if the issues are outside his immediate scope of responsibilities. He’s led team on-boarding session for new interns, curated good learning resources to share, and is quick to step up and guide other teams through roadblocks.</p>
      </div>
    </div>

    <!-- Comment 3 -->
    <div class="comment-unit">
      <div class="comment-info">
        <img src="/assets/image/yiminghu_avatar.jpg" alt="avatar">
        <strong class="comment-name">Yiming Hu</strong>
        <div class="comment-title">Product Manager, Laiye Inc.</div>
      </div>
      <div class="comment-content">
        <div class="quote"></div>
        <p>Shawn is one of the few people that I've ever met with strong self-learning ability and solid programming technics. I believe he could create greater value to his organization.</p>
      </div>
    </div>
  </div>
</section>
