<section class="alt-section section-contact">
  <h3 id="contact" class="index-section-title contact-title" >CONTACT</h3>
  <md-card class="contact-form">
    <md-card-header>
      <!-- <md-card-avatar>
        <img src="img/logo.svg"/>
      </md-card-avatar> -->
      <md-card-header-text>
        <span class="md-title">Contact</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-input-container class="md-block form-input" flex-gt-sm>
        <label>Your name</label>
        <input ng-model="user.firstName">
      </md-input-container>

      <md-input-container class="md-block form-input" flex-gt-sm>
        <label>Email</label>
        <input ng-model="contact.email" type="email">
      </md-input-container>

      <md-input-container class="md-block form-input">
        <label>Your message</label>
        <textarea ng-model="contact.message" md-maxlength="150" rows="4" md-select-on-focus md-no-autogrow></textarea>
      </md-input-container>
    </md-card-content>

    <md-button class="md-primary md-raised" ng-click="showListBottomSheet()">Submit</md-button>
  </md-card>

  <!-- <form class="contactForm" name="htmlform" method="post" action="https://formspree.io/ychen248@buffalo.edu">

    <div class="contact-info-group">
      <label><span>Your Name</span><input type="text" name="name" required="true"></label>
      <label><span>Your Email</span><input type="email" name="_replyto" required="true"></label>
    </div>

    <label><span>Message</span><textarea name="message"></textarea></label>
    <div class="submit-warp"><input class="submit" type="submit" value="Send"></div>
  </form> -->

</section>
