<section class="alt-section section-contact" style="background-image: url(/assets/image/road_sit_right_21_9.jpg); background-size: cover;">
  <h3 id="contact" class="index-section-title">CONTACT</h3>
  <div class="social-link">
    <a href="https://www.linkedin.com/in/ychen248" target="_blank"><img src="/assets/image/linkedin_logo_128x.png"></a>
    <a href="https://www.facebook.com/shawnloatrchen" target="_blank"><img src="/assets/image/facebook_logo_128x.png"></a>
    <a href="https://www.instagram.com/shawnloatr/" target="_blank"><img src="/assets/image/instagram_128x.png"></a>
    <a href="https://www.youtube.com/channel/UCQLEPbkEmwz4mABAV-kzQTQ" target="_blank"><img src="/assets/image/youtube_logo_128x.png"></a>
    <a href="https://github.com/shawnLOATRchen" target="_blank"><img src="/assets/image/github-512.png"></a>
  </div>
  <p class="contact-info">ychen248@buffalo.edu</p>
  <p class="contact-info">Oakland, CA</p>
  <form class="contactForm" name="htmlform" method="post" action="https://formspree.io/ychen248@buffalo.edu">

    <div class="contact-info-group">
      <label><span>Your Name</span><input type="text" name="name" required="true"></label>
      <label><span>Your Email</span><input type="email" name="_replyto" required="true"></label>
    </div>

    <label><span>Message</span><textarea name="message"></textarea></label>
    <div class="submit-warp"><input class="submit" type="submit" value="Send"></div>
  </form>

</section>
