<footer>
  <div class="logo"></div>
  <div class="social-link">
    <a href="https://www.linkedin.com/in/yc-shawn" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/shawnloatrchen" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/shawnloatr/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCQLEPbkEmwz4mABAV-kzQTQ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
    <a href="https://github.com/yc-shawn" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <p class="contact-info">ychshawn@gmail.com</p>
  <p class="contact-info">Sunnyvale, CA</p>
  <p class="copyright text-center">&copy; 2018 yuxiang chen all rights reserved.</p>
</footer>
