<header>
  <div class="toggle" ng-click="toggleSideMenu()"></div>
  <div class="logo"></div>
  <nav>
    <a href="#about_me" ng-click="toggleSideMenu()">ABOUT ME</a>
    <a href="#work" ng-click="toggleSideMenu()">PORTFOLIO</a>
    <a href="#comment" ng-click="toggleSideMenu()">COMMENT</a>
    <a href="#contact" ng-click="toggleSideMenu()">CONTACT</a>
  </nav>
  <div class="nameTag">
    <h1><span>YUXIANG CHEN</span></h1>
    <p class="kicker">SOFTWARE / FRONTEND / ENGINEER</p>
  </div>

  <a class="back-to-top"></a>

</header>
