<div class="yc-portfolio-lilitofu__demo mb-3">
  <img class="lilitofu-img-home" src="/assets/images/projects/lilitofu-home.png">
  <img class="lilitofu-img-story" src="/assets/images/projects/lilitofu-story.png">
</div>

<h3 class="text-center">Front-end Developer intern at Lilitofu</h3>
<h5 class="text-center mb-3">April 2017 - June 2017</h5>

<ul>
  <li>Develop user-facing features for everything that users see and touch on website including content, layout, and interaction using a combination of <b>Nodejs, React/Redux, ES6, SCSS, Bootstrap</b>.</li>
  <li>Collaborate closely with other team members and stakeholders to ensure the technical feasibility of UI/UX designs and bring the designer’s concept to life, also assure script is validated before submitting to back-end</li>
  <li>Build reusable code and libraries for future use, remove redundant code.</li>
  <li>Optimize application for maximum speed and scalability</li>
  <li>Change overall styling to make webpage responsive for any screen size</li>
</ul>

<p>Lilitofu Website Link: <a href="https://www.lilitofu.com/" target="_blank">click here</a> </p>
<img class="yc-portfolio-lilitofu__team" src="assets/images/projects/lilitofu-team.jpg">
