<div class="plateiq-img-container">
  <img class="macbook-frame" src="assets/image/macbook-frame-sm.png">
  <img class="plateiq-hotlist-gif" src="assets/image/plateiq-hotlist-gif.gif">
</div>

<h3>Software Engineer at Plate IQ</h3>
<h5>July 2017 - present</h5>

<ul>
  <li>Wrote maintainable, scalable, responsive, and cross-browser code use Angularjs, React/Redux, HTML, Javascript, SCSS.</li>
  <li>Built reusable internal front-end component library and used across all the product.</li>
  <li>Collaborated with creative and development teams on the execution of ideas and projects.</li>
  <li>Updated and streamlined existing code to improve site performance.</li>
</ul>

<h5 class="text-left">Project: Invoice Processing & Management Software (core product)</h5>
<p class="text-left pl-3">Translate designs to front-end code, closely worked with back-end developers to optimize existing web technology and create the best possible user experience.</p>

<h5 class="text-left">Project: Marketing Website</h5>
<p class="text-left pl-3">Maintained and updated company’s homepage with Search Engine Optimization (SEO), improved ranks and increased awareness in search engine</p>

<h5 class="text-left">Project: Data Entry Tool</h5>
<p class="text-left pl-3">Design and code up a web application to manually digitized the invoice, reduce the processing time from 4min to 30seconds each invoice compare with the old tool.</p>

<p>Plate IQ Homepage: <a href="https://www.plateiq.com/" target="_blank">click here</a> </p>
