<img class="sm-img" src="/assets/image/ubhacking.png">
<h2 class="ssis_sponsor">Award: Best Healthcare Hack</h2>
<h2 class="ssis_sponsor">Sponsored by Fidelis Care</h2>
<h1>Signature Sign In System</h1>
<p>Team Member: Yuxiang Chen, Fei Chen</p>
<p>Use signature as verification to login personal account, implemented by Java. Utilize Java Swing toolkit to design front end user interface. Implement feature-based classification algorithm to recognize the login signature compare with the user account database with 91% accuracy.
</p>
<img src="/assets/image/ubhacking-working.jpg">
<img src="/assets/image/SignatureSignIn.png_thumb.jpg">
