<img class="sm-img" src="/assets/image/ubhacking.png">
<h2 class="ssis_sponsor">Award: Best Healthcare Hack</h2>
<h2 class="ssis_sponsor">Sponsored by <a href="https://www.fideliscare.org/" target="_blank">Fidelis Care</a></h2>
<h1>Signature Sign In System</h1>
<p>Team Member: Yuxiang Chen, Fei Chen</p>
<ul>
  <li>Use signature as verification to login personal account, implemented by Java.</li>
  <li>Utilize Java Swing toolkit to design front end user interface.</li>
  <li>Implement feature-based classification algorithm to recognize the login signature compare with the user account database with <b>91%</b> accuracy.</li>
</ul>
<p>Github link <a href="https://github.com/yc-shawn/signature-sign-in-system">Click here</a></p>
<hr>
<img src="/assets/image/ubhacking-working.jpg">
<img src="/assets/image/SignatureSignIn.png_thumb.jpg">
