<img class="mid-img" src="/assets/image/youtube-channel.png"  alt="youtube-logo">
<p>I start to upload videos to my youtube channel at Nov 2016, now I have over 400 subscribers and more than 40,000 views in my Robot Operating System(ROS) kinetic tutorial series</p>
<p>Please come to my channel and subscribe</p>
<a class="youtube-subscribe" href="http://www.youtube.com/channel/UCQLEPbkEmwz4mABAV-kzQTQ?sub_confirmation=1"><img src="/assets/image/youtube-subscribe.png"></a>
<img src="/assets/image/ROS_tutorial_cover.png"  alt="ros-cover">
<h1>Robot Operating System Kinetic Tutorial Series</h1>
<p>Recording video to teach viewers how to install and use Robot Operating System(ROS) to implement some awesome robotics algorithms, and it currently have 8 videos in the playlist</p>
<ol>
  <li>Introduction and preparation</li>
  <li>Install and configure ROS environment</li>
  <li>Navigating ROS filesystem</li>
  <li>Create and build ROS package</li>
  <li>ROS topic, nodes, messages P1</li>
  <li>ROS topic, nodes, messages P2</li>
  <li>Publisher & Subscriber P1</li>
  <li>Publisher & Subscriber P2</li>
</ol>
<div class="video-box">
  <iframe src="https://www.youtube.com/embed/videoseries?list=PLk51HrKSBQ8-jTgD0qgRp1vmQeVSJ5SQC" frameborder="0" allowfullscreen></iframe>
</div>
