h3{
  text-align: center;
  color: #e1c184;
  padding: 100px 0 30px 0;
}

.face-lockup{
  max-width: 780px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  .face-img{
    width: 200px;
    height: 200px;
    background: url(../image/MyPortrait_circle.png);
    background-size: cover;
    order: 3;
  }
}

.icon1, .icon2, .icon3, .icon4{
  width: 60px;
  height: 60px;
  background:  #999;
  border-radius: 50%;
}
.icon1{order:1;}
.icon2{order:2;}
.icon3{order:4;}
.icon4{order:5;}

.blurb{
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}


@media screen and (max-width: 650px){
  .face-lockup{
    display: block;
    text-align: center;

    div{
      display: inline-block;
    }

    .face-img{
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin: 0 auto 30px auto;
    }
  }

  .icon1, .icon2, .icon3, .icon4{
    margin: 5px;
  }
}


.skill-lockup{
  max-width: 700px;
  margin: 100px auto;
  color: #999;
  overflow: auto;
}

.skill-unit{
  width: 23%;
  padding-left: 10%;
  float: left;
}
.skill-icon{
  margin: 2px 0 30px;

  span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: black;
    margin-right: 5px;
    border-radius: 50%;

    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin: 2px;
    }
  }
}

.skill-4 span:nth-child(n+5){ background-color: lightgrey; }
.skill-3 span:nth-child(n+4){ background-color: lightgrey; }
.skill-2 span:nth-child(n+3){ background-color: lightgrey; }

@media screen and (max-width: 541px){
  .skill-lockup{
    margin-left: 25px;
  }
  .skill-unit{
    width: 45%;
    padding-left: 5%;
  }
}
