img{
  width: 100%;
}
.section-comment{
  position: relative;
}
.control{
  z-index: 1;
  position: absolute;
  top: 202px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1000px;
  margin: auto;
  div{
    width: 30px;
    opacity: 0.4;
  }
  .control-pre, .control-next{
    position: absolute;
    top: 90px;
    cursor: pointer;
    // z-index: +1;
    &:hover{
      opacity: 0.8;
    }
  }
  .control-pre{
    left: 10px;
  }
  .control-next{
    right: 10px;
  }
}


.comment-belt{
  width: 100%;
  position: relative;
  .comment-unit{
    display: none;
    position: relative;
    max-width: 740px;
    margin: 50px auto;

    &.active-people{
      display: flex;
    }
    .comment-info{
      min-width: 280px;
      text-align: center;
      img{
        max-width: 128px;
        border-radius: 50%;
      }
      .comment-name{
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
      }
      .comment-title{
        color: #999;
      }
    }
    .comment-content{
      position: relative;
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      .quote{
        position: absolute;
        top: 0;
        left: -30px;
        width: 60px;
        height: 60px;
        z-index: -1;
        opacity: 0.3;
        background: {
          image: url(../image/quote.jpg);
          position: center center;
          size: contain;
          repeat: no-repeat;
        }
      }
    }
  }
}
.comment-logo{
  position: relative;
  display: flex;
  max-width: 740px;
  margin: 0 auto 50px;
  justify-content: space-around;
  align-items: flex-end;
  .single-logo{
    min-width: 100px;
    cursor: pointer;
    margin: 20px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    opacity: 0.6;
    &.active-logo{
      border-bottom: 4px solid grey;
      opacity: 1;
    }
  }
}
.comment-mobile-nav{
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 2px lightgrey;
    margin: 0 10px;

    &:hover{
      border-color: darkgrey;
    }

    &.active-logo{
      border-color: black;
    }
  }
}

@media screen and (max-width: 840px){
  .control{
    div{
      width: 20px;
    }
  }
  .comment-belt{
    .comment-unit{
      position: relative;
      // margin-left: 0px;
      left: auto;
      &.active-people{
        display: block;
      }
      .comment-info{
        margin-bottom: 20px;
      }
      .comment-content{
        // padding: 0 30px;
        margin: 0px 15%;
        .quote{
          // left: 10px;
          top: -30px;
        }
      }
    }
  }
  .comment-logo{
    display: none;
  }
}
