header{
  height:800px;
  background: url(../image/Boston-myback-dark.jpg) center center;
  background-size: cover;
  position: relative;
  .toggle{
    height: 0;
  }
}

header .logo{
  width: 100px;
  height: 60px;
  background: url(../image/mylogo.png);
  background-position: center center;
  background-size: cover;
  // float: left;
  // margin: 10px 0 0 30px;
  position: absolute;
  top: 10px;
  left: 30px;
}

header nav{
  float: right;
  padding: 30px 30px 0 0;
  a{
    display: inline-block;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    &:hover{
      color: rgba(255, 255, 255, 0.65);
    }
  }
}

h1{
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-top: 200px;
  clear: both;

  span{
    color: white;
    // color: rgba(10,10,10,0.8);
    // background-color: white;
    // opacity: 0.7;
    display: inline-block;
    padding: 0.5em 0.2em;
    border: white solid 10px
  }
}

.back-to-top{
  background: url(../image/backtotop.png) center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  opacity: 0.5;
  z-index: 1;
}

@media screen and (max-width: 650px){
  header{
    padding-top: 100px;
    height: 400px;
    .toggle{
      position: absolute;
      width: 35px;
      height: 35px;
      top: 20px;
      right: 10px;
      background: url(../image/nav-icon.png) center center;
      background-size: contain;
      background-repeat: no-repeat;
      // background-color: red;
    }
  }
  h1{
    font-size: 32px;
    padding-top: 100px;
  }
  h1 span{
    border: white solid 5px
  }
  body{
    overflow-x: hidden;
    position: relative;
    right: 0;
  }
  .menu-open{
    right: 150px;
    header nav{
      right: 0;
    }
  }


  header nav{
    color: red;
    background: #333;
    position: fixed;
    top: 0;
    padding : 30px 0;
    right: -150px;
    width: 150px;
    height: 100%;
    a{
      padding: 10px 8px;
      display: block;
      // font-size: 12px;
    }
  }
  body, header nav{transition: right 0.33s ease;}
}

.kicker{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1;
}
