.alt-section{
  background-color: rgba(250,250,250,0.9);
}

.section-work{
  overflow: hidden;
}

.work-belt{
  width: 200%;
  position: relative;
  left: 0%;
  transition: left 0.33s;
}

.ros-img{background-image: url(../image/youtubuChannel.jpeg);}

.reco-img{background-image: url(../image/HILS-lab-thumb.jpeg);}

.signature-img{background-image: url(../image/SignatureSignIn.png_thumb.jpg);}

.iosapp-img{background-image: url(../image/iosapp.png);}

.thumb-wrap, .work-wrap{
  width: 50%;
  float: left;
}


.thumb-container{
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: auto;
}

.thumb-unit{
  display: block;
  width: 48%;
  margin: 1%;
  float: left;
  position: relative;
  padding-top: 27%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  box-shadow: 2px 2px 8px 0px darkgrey;
  perspective: 300px;
  cursor: pointer;

  &:hover .thumb-overlay{
    top: 0%;
    background: darkgrey;
    opacity: 0.9;
    transform: rotateX(0deg);
  }

  @media screen and (max-width:540px){
    width: 98%;
    padding-top: 56.25%
  }
}

.thumb-overlay{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.33s, top 0.33s;
  transform: rotateX(90deg);
  transform-origin: bottom;

  strong{
    display: block;
    padding: 20px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
  }
}

.work-container{
  max-width: 640px;
  margin: 0 auto;
  display: none;

  img{
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project-title{
      font-size: 24px;
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 20px;
  }
}

.work-return{
  /*background: url(../image/nav-icon.png);*/
  background: url(../image/return-icon2.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 35px;
  left: -60px;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

@media screen and (max-width:740px){
  .work-return{
    left: 0;
  }
  .work-container{
    margin: 0 10px;
  }
  .work-container .project-title{
    margin-left: 50px;
  }
}
