<img class="sm-img" src="/v1-assets/image/HILS-fullpng.png">
<h2><strong>Research Assistant</strong></h2>
<h2>Human In The Loop System Laboratory(HILS Lab)</h2>
<h1>Research: Multimodal Recording for Activities Recognition</h1>
<ul>
  <li>Design and implement gesture recognition and gait recognition application with the variety of wearable sensors.</li>
  <li>Writing the program using C# with API of xio-IMU and Stretch Sensor to automatically extract movement, acceleration, orientation and reaction force data of the object.</li>
  <li>Optimize and combine the program of the different sensor into one application, and synchronize the data collection.</li>
  <li>Rendering 3D models with OpenGL to visualize activities recognition results in real-time</li>
  <li>Use template matching recognition algorithm with more than 100 training data for each template, the average classification accuracy is more than 93%</li>
</ul>
