<h1>Local Life Service IOS Application</h1>
<ul>
  <li>For the local people to publish or search about life information and seek help (used item, carpool, etc.)</li>
  <li>Use Swift 3 to write responsive application for all devices with different screen size.</li>
  <li>Coding programmatically instead of storyboard, refactor UI components to make the code cleaner and more robust</li>
  <li>Created many dynamic views and graphical elements to make app more interactive to the user</li>
</ul>
<img class="iosimg" src="assets/image/iosapp01.png"/>
<img class="iosimg" src="assets/image/iosapp04.png"/>
<img class="iosimg" src="assets/image/iosapp02.png"/>
<img class="iosimg" src="assets/image/iosapp03.png"/>
