:host {
  display: block;
  background-color: #103c4b;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/beach-with-surfing-board.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-attachment: fixed;
  .yc-header__video {
    width: 100vw;
    height: 56.25vw;
    max-height: 95vh;
    position: relative;
    video {
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .yc-header__intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;

    .yc-header__intro-name {
      font-size: 72px;
      letter-spacing: 0.05em;
      padding: 0.5em 0.2em;
      border: white solid 10px;
      white-space: nowrap;
    }

    .yc-header__intro-title {
      font-weight: 700;
      letter-spacing: 0.05em;
      color: white;
      line-height: 1;
      white-space: nowrap;
    }
  }

  .yc-header__logo {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("/assets/images/logo.png") center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 650px) {
    .yc-header__intro {
      .yc-header__intro-name {
        font-size: 32px;
        border-width: 5px;
      }
      .yc-header__intro-title {
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
}
