:host {
  .yc-aboutme__image {
    max-width: 780px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    img {
      width: 225px;
      height: 225px;
      border-radius: 50%;
      order: 3;
    }
    .yc-aboutme__icon {
      width: 60px;
      height: 60px;
      opacity: 0.6;
      background-color: lightgrey;
      color: darkgrey;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      .fas, .far {
        font-size: 24px;
        color: #222;
      }
      &:nth-of-type(1) {
        order: 1;
      }
      &:nth-of-type(2) {
        order: 2;
      }
      &:nth-of-type(3) {
        order: 4;
      }
      &:nth-of-type(4) {
        order: 5;
      }
    }
    @media screen and (max-width: 650px) {
      display: block;
      text-align: center;
      img {
        display: block;
        margin: 0 auto 30px auto;
      }
      .yc-aboutme__icon {
        margin: 5px;
      }
    }
  }
  .yc-aboutme__intro {
    max-width: 620px;
    padding: 0 15px;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    a {
      color: black;
      > .fa-linkedin {
        color: #0074d9;
        font-size: 22px;
        margin-left: 2px;
        text-decoration: inherit;
        text-decoration-color: black;
      }
    }
  }
  .yc-aboutme__skills {
    max-width: 740px;
    margin: 100px auto;
    color: #999;
    overflow: auto;
    .yc-aboutme__skill {
      width: 23%;
      padding-left: 10%;
      float: left;
      @for $i from 1 through 5 {
        .yc-aboutme__skill-icon-#{$i} span:nth-child(n+#{$i+1}) {
          background-color: lightgrey;
        }  
      }
      .yc-aboutme__skill-icon {
        margin: 2px 0 30px;
        span {
          width: 14px;
          height: 14px;
          display: inline-block;
          background-color: black;
          margin-right: 5px;
          border-radius: 50%;
          &:after {
            width: 10px;
            height: 10px;
            content: '';
            display: block;
            background: #fff;
            border-radius: 50%;
            margin: 2px;
          }
        }
      }   
    }
    @media screen and (max-width: 541px) {
      margin-left: 25px;
      .yc-aboutme__skill {
        width: 45%;
        padding-left: 5%;
      }
    }
  }
  .yc-aboutme__resume {
    max-width: 300px;
    margin: 0 auto 0 auto;
    padding: 10px 0 70px 0;
    text-align: center;
    > a {
      font-size: 16px;
      line-height: 20px;
      color: black;
      background-color: white;
      padding: 0.6em 0.6em;
      border: black solid 4px;
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
  .yc-aboutme__others {
    text-align: center;
    padding: 40px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    > b {
      color: #e1c184;
      font-size: 36px;
    }
  }
}
