<h3 id="about_me" class="yc-section-title">ABOUT ME</h3>

<!-- Profile image -->
<section class="yc-aboutme__image">
  <img src="/assets/images/my-portrait.jpg" class="face-img" alt="">
  <span class="yc-aboutme__icon"><i class="fas fa-code" aria-hidden="true"></i></span>
  <span class="yc-aboutme__icon"><i class="fas fa-camera-retro" aria-hidden="true"></i></span>
  <span class="yc-aboutme__icon"><i class="far fa-clock" aria-hidden="true"></i></span>
  <span class="yc-aboutme__icon"><i class="fas fa-pencil-ruler" aria-hidden="true"></i></span>
</section>

<!-- Introduction -->
<section class="yc-aboutme__intro">
  <p>Hi, I'm <b>Yuxiang Chen</b>, people also call me <b>Shawn</b>,
    I'm a
    <b>Senior Software Engineer(Front-end) at
      <a href="https://www.linkedin.com" target="_blank">
        Linked<i class="fab fa-linkedin" aria-hidden="true"></i>
      </a>
    </b>
  </p>
  <p>I'm strong in design and integration problem-solving. Expert in <strong>Java, Javascript/Typescript, NodeJS, EmberJS, AngularJS/Angular, ReactJS</strong>.
  Skilled in <strong>Front-end Developing</strong>.
  Highly adaptable in quickly changing technical environments with very strong organizational and analytical skills.</p>
</section>

<!-- Skills -->
<section class="yc-aboutme__skills">
  <div class="yc-aboutme__skill" *ngFor="let skill of skills">
    <div>{{ skill }}</div>
    <div class="{{'yc-aboutme__skill-icon yc-aboutme__skill-icon-' + levels[skill] }}">
      <span *ngFor="let n of [1,2,3,4,5]"></span>
    </div>
  </div>
</section>

<!-- Resume -->
<section class="yc-aboutme__resume">
  <a href="assets/documents/Yuxiang_Chen_Resume_2020.pdf" target="_blank">SEE MY RESUME</a>
</section>

<!-- I'm also -->
<h3 class="yc-aboutme__others"><b>I</b>'m also a</h3>
<div class="row yc-aboutme__gallery">
  <div class="col-md-4">
    <img src="assets/images/my-golden-gate-bridge.jpg" alt="my-golden-gate-bridge">
    <div class="gallery-text">
      <span>Traveller & Photographer</span>
    </div>
  </div>
  <div class="col-md-4">
    <img src="assets/images/suzy.jpg" alt="suzy">
    <div class="gallery-text">
      <span>Pets Lover</span>
    </div>
  </div>
  <div class="col-md-4">
    <img src="assets/images/my-creative.jpg" alt="creative photo">
    <div class="gallery-text">
      <span>Funny Person</span>
    </div>
  </div>
</div>
