<img class="yc-portfolio-linkedin__ads-image" src="assets/images/projects/linkedin-ads.png">
<h3 class="text-center">Senior Software Engineer at Linkedin</h3>
<h5 class="text-center mb-2">LinkedIn Marketing Solution (LMS) Ads Team</h5>
<h5 class="text-center mb-3">December 2018 - Present</h5>
<ul>
  <li>Developed lead generation form in campaign manager desktop web application which increased LinkedIn advertisement revenue by 30%.</li>
  <li>Built an internal image-editing software library adopted by various products such as Carousel image editing, which demonstrated the ability to increase user adoption rate by 25%.</li>
  <li>Implemented various optimization algorithms to improve the site speed of campaign manager desktop web app by 40%.</li>
  <li>Collaborated with visual/interaction designers, other engineers, and product managers to launch new products, iterate on existing features, and build a world-class user experience.</li>
</ul>


<h5>Developed features:</h5>
<ul>
  <li>Lead generation form</li>
  <li>Carousel ad</li>
  <li>Event ad</li>
</ul>
