:host {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 15px 30px 15px;

  .yc-portfolio-linkedin__ads-image {
    margin: 0 auto 20px auto;
    display: block;
    max-width: 100%;
  }
}
