:host {
  display: block;
  background-color: #f5f5f5;
  padding-bottom: 100px;
  height: 100vh;
  overflow-y: scroll;

  .yc-portfolio__projects {
    max-width: 960px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    .yc-portfolio__project {
      display: block;
      width: 33.33333%;
      float: left;
      position: relative;
      padding-top: 18.7%;
      overflow: hidden;
      background-position: center center;
      background-size: cover;
      box-shadow: 2px 2px 8px 0px darkgrey;
      perspective: 300px;
      cursor: pointer;
      &.yc-portfolio__project-linkedin {
        background-color: #ffffff;
        background-image: url(/assets/images/projects/linkedin-cover.png);
      }
      &.yc-portfolio__project-plateiq {
        background-color: #17364f;
        background-image: url(/assets/images/projects/plateiq-cover.jpeg);
      }
      &.yc-portfolio__project-lilitofu {
        background-color: #0fb8bd;
        background-image: url(/assets/images/projects/lilitofu-cover.jpeg);
      }
      &.yc-portfolio__project-chatapp {
        background-color: #8bc174;
        background-image: url(/assets/images/projects/chatapp-cover.jpg);
      }
      &.yc-portfolio__project-craigslist {
        background-color: #fe88ae;
        background-image: url(/assets/images/projects/craigslist-cover.png);
      }
      &.yc-portfolio__project-shoppingcart {
        background-color: #e32240;
        background-image: url(/assets/images/projects/shoppingcart-cover.png);
      }
      &.yc-portfolio__project-spotify {
        background-color: #515151;
        background-image: url(/assets/images/projects/spotifyplaylist-cover.jpg);
      }
      &.yc-portfolio__project-youtube {
        background-color: #3895c7;
        background-image: url(/assets/images/projects/youtube-cover.jpeg);
      }
      &.yc-portfolio__project-signature {
        background-color: #15565d;
        background-image: url(/assets/images/projects/signature-cover.jpeg);
      }
      @media (max-width:840px) {
        width: 50%;
        padding-top: 28.125%;
      }
      @media screen and (max-width:540px) {
        width: 100%;
        padding-top: 56.25%;
      }
    }
  }

  .yc-portfolio__detail-container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;

    .yc-portfolio__return-container {
      max-width: 960px;
      margin: 0 auto;
      > button {
        background: white;
        border: 2px solid #999;
        color: #999;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        &:hover {
          border-color: #333;
          color: #333;
        }
      }
      padding: 0 0 10px 10px;
    }
  }

  .yc-portfolio-container {
    position: relative;

    &.yc-portfolio-detail-shown {
      .yc-portfolio__projects {
        left: -100%;
      }
      .yc-portfolio__detail-container {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}