:host {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 15px 30px 15px;

  .yc-portfolio-signature__ubhacking-logo {
    width: 30%;
    margin: 20px 35%;
  }

  .yc-portfolio-signature__image {
    width: 100%;
    margin-bottom: 25px;
  }
}