<img class="yc-portfolio-signature__ubhacking-logo" src="/assets/images/projects/ubhacking.png">

<h1 class="text-center">Signature Sign In System</h1>
<h5 class="text-center">Team Member: Yuxiang Chen, Fei Chen</h5>
<h5 class="text-center">Award: Best Healthcare Hack</h5>
<h5 class="text-center mb-3">Sponsored by <a href="https://www.fideliscare.org/" target="_blank">Fidelis Care</a></h5>

<ul>
  <li>Use signature as verification to login personal account, implemented by <b>Java</b>.</li>
  <li>Utilize <b>Java Swing</b> toolkit to design front end user interface.</li>
  <li>Implement feature-based classification algorithm to recognize the login signature compare with the user account database with <b>91%</b> accuracy.</li>
</ul>

<p>Github link <a href="https://github.com/yc-shawn/signature-sign-in-system">Click here</a></p>
<hr>
<img class="yc-portfolio-signature__image" src="/assets/images/projects/ubhacking-working.jpg">
<img class="yc-portfolio-signature__image" src="/assets/images/projects/SignatureSignIn.png_thumb.jpg">
