<section class="section-comment">
  <div id="comment-carousel" class="carousel slide" data-ride="carousel">
    <h3 id="comment" class="index-section-title">COMMENT</h3>
    <ol class="carousel-indicators">
      <li data-target="#comment-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#comment-carousel" data-slide-to="1"></li>
      <li data-target="#comment-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/assets/image/peter_avatar.jpg" alt="avatar">
            <strong class="comment-name">Peter Fioretti</strong>
            <div class="comment-title">Founder, Synchronyze Inc.</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>I met Shawn in my first trip to Silicon Valley. He immediatly impressed me for his hard work and dedication. When he talks you can hear passion flowing through your ears, not just words.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/assets/image/geok_avatar.jpg" alt="avatar">
            <strong class="comment-name">Geok Hui Koh</strong>
            <div class="comment-title">CEO, Lilitofu</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>Shawn is a strong team player and often going above and beyond to help his peers even if the issues are outside his immediate scope of responsibilities. He’s led team on-boarding session for new interns, curated good learning resources to share, and is quick to step up and guide other teams through roadblocks.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="comment-unit">
          <div class="comment-info">
            <img src="/assets/image/yiminghu_avatar.jpg" alt="avatar">
            <strong class="comment-name">Yiming Hu</strong>
            <div class="comment-title">Product Manager, Meituan.</div>
          </div>
          <div class="comment-content">
            <div class="quote"></div>
            <p>Shawn is one of the few people that I've ever met with strong self-learning ability and solid programming technics. I believe he could create greater value to his organization.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#comment-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#comment-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
