.section-comment
  .comment-unit
    position: relative
    max-width: 740px
    min-height: 350px
    margin: 0 auto
    padding: 50px 0
    display: flex
    .comment-info
      min-width: 280px
      text-align: center
      img
        max-width: 128px
        border-radius: 50%
      .comment-name
        display: block
        text-transform: uppercase
        letter-spacing: 1px
        font-weight: 400
      .comment-title
        color: #999
    .comment-content
      position: relative
      font-size: 18px
      font-weight: 300
      line-height: 36px
      .quote
        @include position(absolute, 0, null, null, -30px)
        @include background('quote.jpg', contain, center, center, no-repeat)
        @include eqsize(60px)
        z-index: -1
        opacity: 0.3
  .carousel-control-prev, .carousel-control-next
    align-items: flex-start
    padding-top: 250px
  .carousel-control-prev-icon
    background-image: url('/assets/image/control-pre.png')
    height: 30px
  .carousel-control-next-icon
    background-image: url('/assets/image/control-next.png')
    height: 30px

  @media screen and (max-width: 840px)
    .comment-unit
      display: block
      .comment-info
        margin-bottom: 20px
      .comment-content
        margin: 0px 10%
        .quote
          left: -15px
          top: -30px

.comment-mobile-nav
  text-align: center
  span
    @include eqsize(16px)
    cursor: pointer
    display: inline-block
    border-radius: 50%
    border: solid 2px lightgrey
    margin: 0 10px
    &:hover
      border-color: darkgrey
    &.active-logo
      border-color: black
