@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

.yc-section-title {
  text-align: center;
  color: #e1c184;
  padding: 100px 0 30px 0;
  margin: 0 auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
